[toolchain]
anchor_version = "0.30.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
usdcball = "USDCbaf11111111111111111111111111111111111"

[programs.devnet]
usdcball = "USDCbaf11111111111111111111111111111111111"

[programs.mainnet]
usdcball = "USDCbaf11111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
